.chu{
    color: black;
    animation:Color 1.7s infinite;
    font-size: 50px;
    text-align: center;
}
@keyframes Color{
    0%{color: lemonchiffon;}
    25%{color: lightblue;}
    50%{color: lightcoral;}
    75%{color: lightcyan;}
    100%{color: lightgoldenrodyellow;}
}
.anh{
    width: 200px;
    height: 200px;
    border-radius: 25px;
}
.anh:hover{
    zoom: 1.5;
}
.anhphongto{
    width: 200px;
    height: 150px;
    border-radius: 25px;
}
.anhphongto:hover{
   transform: translateY(25px);
}
.anhdichuyen{
    width:200px;
   height: 100px;
    border-radius: 25px;
}
.anhdichuyen:hover{
    transform: translateY(-25px);
}
.anhdichuyen1{
    width: 200px;
    height: 100px;
    border-radius: 25px;
}
.anhdichuyen1:hover{
    transform: translateX(-25px)
}
.anhdichuyen2{
    width: 200px;
    height: 100px;
    border-radius: 25px;
}
.anhdichuyen2:hover{
    transform: translateZ(100px);
}
.anhxoay{
    width: 200px;
    height: 100px;
    border-radius: 25px;
    animation: Xoay 0.5s infinite;
}
@keyframes Xoay{
    0%{transform: rotate(5deg);}
    25%{transform: rotate(25deg);}
    50%{transform: rotate(50deg);}
    75%{transform: rotate(75deg);}
    100%{transform: rotate(100deg);}
}